:root  > * {
  /* Custom colors from:
     https://github.com/JamFox/wired.jamfox.dev/blob/main/src/css/20-root.css
  */
  --light-coral: hsla(356, 77%, 71%, 1);
  --azure-web: hsla(167, 22%, 84%, 1);
  --columbia-blue: hsla(191, 24%, 78%, 1);
  --davys-gray: hsla(0, 0%, 36%, 1);
  --raisin-black: hsla(340, 7%, 17%, 1);

  --vanilla: hsla(47, 57%, 75%, 1);
  --parchment: hsla(46, 51%, 88%, 1);
  --dull-parchment: hsla(38, 10%, 79%, 1);
  --eerie-black: hsla(210, 3%, 14%, 1);
  --light-coral: hsla(1, 65%, 73%, 1);
  --salmon-pink: hsla(349, 84%, 74%, 1);

  --mountbatten-pink: hsla(292, 14%, 59%, 1);
  --rose-quartz: hsla(321, 19%, 67%, 1);

  --main-color: var(--eerie-black);
  --main-accent-color: var(--davys-gray);
  --secondary-color: var(--azure-web);
  --secondary-accent-color: var(--parchment);
  --tertiary-color: var(--parchment);
  --tertiary-accent-color: var(--vanilla);

  /* --md-primary-fg-color:        var(--secondary-color); */
  /* --md-primary-fg-color--light: var(--secondary-color); */
  --md-primary-fg-color--dark:  var(--secondary-color);

  /* --md-accent-fg-color:         var(--columbia-blue); */
  /* --md-accent-fg-color--light:  var(--columbia-blue); */
  --md-accent-fg-color--dark:   var(--columbia-blue);
  
}

/* Enumerate headings using vanilla CSS */
body {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h4 {
  counter-reset: h5;
}

h5 {
  counter-reset: h6;
}

article h2:before {
  content: counter(h2, decimal) ". ";
  counter-increment: h2;
}

article h3:before {
  content: counter(h2, decimal) "." counter(h3, decimal) ". ";
  counter-increment: h3;
}

article h4:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) ". ";
  counter-increment: h4;
}

article h5:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) ". ";
  counter-increment: h5;
}

article h6:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) "." counter(h6, decimal) ". ";
  counter-increment: h6;
}

h2.nocount:before, 
h3.nocount:before, 
h4.nocount:before, 
h5.nocount:before, 
h6.nocount:before {
  content: "";
  counter-increment: none;
}
